* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 900px;
  width: 1280px;
  top: 327px;
  background-color:  #ECF8F3;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.image  {
  position: absolute;
  top: 148px;
  left: 50%;
  transform: translateX(-50%);
  height: 579px;
  width: 752px;

}



@media (max-width: 768px) {
  .image {
    height: auto;
    width: 80%;
    max-width: 500px;
  }.logo{
      top: 20px; 
  font-size: 1.5em;
  }
  

}




/* header */



.logo {
  position: absolute;
 
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  height: 579px;
  width: 752px;
  z-index: 2;
 
}

/* @media screen and (min-width: 1440px) {
  .logo {
    position: absolute;
    
   
  top: 7.5%;
    left: 30%;
    transform: translate(-50%, -50%);
  }.contact-list{
      position: absolute;
    
    
    top: 2.5%;
      left: -33.5%;
     
  }
  
}@media (min-width: 2560px) {
  .logo {
      position: absolute;
    top: 4.5%;
    left: 38.5%;
   
  }.contact-list{
      position: absolute;
    
    
    top: 7.5%;
      left: -191.5%;
      
  }
} */

.contact-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;

  
  top: 72px;
 
  right: -1.5%;
  transform: translateX(-3.5%);
 
  
}

nav#contact-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  height: 579px;
  width: 752px;
  justify-content: space-between;
  
}
li {
  margin-right: 32px;
}

li:last-child {
  margin-right: 0;
}

nav#contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
}

nav#contact-info li {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav#contact-info div:first-child {
  font-weight: bold;
  
  font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #535353;


}

nav#contact-info div:last-child {

  color: #535353;

  font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}




.btn {
  background-color: #176C48;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 24px;
  font-family: 'Tahoma';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

}





.mainContainer{
  margin-top: 131.6px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 64px;
   margin-bottom: 264px;
}

.mainItems{
    width: 364px;
    height: 175px;
    background-color:  #ECF8F3;
    ;
    text-align: center;

}
.mainItems>h2{

width: 364px;
height: 58px;
left: 458px;
top: 334px;

font-family: 'Tahoma';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;

/* text */
color: #535353;

}
.mainItems>p{

font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-align: center;


color: #535353;

}
.btnContainer{
    width: 558px;
    height: 177px;
    background-color: white;
    text-align: center;


}
.h2Container > h2{


font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

/* text */
color: #535353;
padding-top:20px;




}

.btn{
color: white;

padding: 12px 24px 13px;

width: 317px;
height: 44px;
left: 120px;
top: 93px;

background: #176C48;

font-family: 'Tahoma';
font-style: normal;

font-size: 16px;
line-height: 19px;



}


#svg1{

width: 64px;
height: 64px;
left: 607px;
top: 246px;

background: #D9D9D9;

}