* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 900px;
  width: 1280px;
  top: 327px;
  background-color:  #ECF8F3;
}







@media (max-width: 768px) {
 
  }.logo{
      top: 20px; 
  font-size: 1.5em;
  
  
 
}




/* header */



.logo {
  position: absolute;
  width: 170px;
  height: 44px;
  
  top: 64px;
 
  left: 14.5%;
  transform: translateX(-14.5%);
  z-index: 2;
 
}@media screen and (min-width: 1440px) {
  .logo {
    position: absolute;
    
   
  top: 7.5%;
    left: 30%;
    transform: translate(-50%, -50%);
  }.contact-list{
      position: absolute;
    
    
    top: 2.5%;
      left: -33.5%;
     
  }
  
}@media (min-width: 2560px) {
  .logo {
      position: absolute;
    top: 4.5%;
    left: 38.5%;
   
  }.contact-list{
      position: absolute;
    
    
    top: 7.5%;
      left: -191.5%;
      
  }
}

.contact-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;

  
 
 
  right: -1.5%;
  transform: translateX(-3.5%);
 
  
}

nav#contact-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 327px;
  height: 35px;
  right: 264px;
  top: 69px;
  justify-content: space-between;
  
}
li {
  margin-right: 32px;
}

li:last-child {
  margin-right: 0;
}

nav#contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
}

nav#contact-info li {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav#contact-info div:first-child {
  font-weight: bold;
  
  font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #535353;


}

nav#contact-info div:last-child {

  color: #535353;

  font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}




