* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 900px;
  width: 1280px;
  top: 327px;
  background-color:  #ECF8F3;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.image  {
  position: absolute;
  top: 148px;
  left: 50%;
  transform: translateX(-50%);
  height: 579px;
  width: 752px;
  background-image: url(./1fa4cdd6a91588677d0a7fecf186341c.jpeg);
 background-position: 80% 15%;
}



@media (max-width: 768px) {
  .image {
    height: auto;
    width: 80%;
    max-width: 500px;
  }.logo{
      top: 20px; 
  font-size: 1.5em;
  }
  
  form {
    height: auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
  }
}




/* header */



.logo {
  position: absolute;
 
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  height: 579px;
  width: 752px;
  z-index: 2;
 
}

/* @media screen and (min-width: 1440px) {
  .logo {
    position: absolute;
    
   
  top: 7.5%;
    left: 30%;
    transform: translate(-50%, -50%);
  }.contact-list{
      position: absolute;
    
    
    top: 2.5%;
      left: -33.5%;
     
  }
  
}@media (min-width: 2560px) {
  .logo {
      position: absolute;
    top: 4.5%;
    left: 38.5%;
   
  }.contact-list{
      position: absolute;
    
    
    top: 7.5%;
      left: -191.5%;
      
  }
} */

.contact-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;

  
  top: 72px;
 
  right: -1.5%;
  transform: translateX(-3.5%);
 
  
}

nav#contact-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  height: 579px;
  width: 752px;
  justify-content: space-between;
  
}
li {
  margin-right: 32px;
}

li:last-child {
  margin-right: 0;
}

nav#contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
}

nav#contact-info li {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav#contact-info div:first-child {
  font-weight: bold;
  
  font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #535353;


}

nav#contact-info div:last-child {

  color: #535353;

  font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}
/* form */
form {
  
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 451px;
  width: 397px;
  border-radius: 0px;
  background-color: white;
  padding:0 32px 0 32px ;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


form>h2{

  width: 333px;
  height: 48px;
  left: 32px;
  top: 32px;
  margin-top: 24px;
  
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  
  
  color: #535353;
  }
  form>p{
  
  width: 333px;
  height: 51px;
  left: 32px;
  top: 96px;
  
  
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  
  
  color: #535353;
  
  }
  form>label{
  
  width: 39px;
  height: 14px;
  left: 0px;
  top: 0px;
  
  
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  
  
  color: #535353;
  
  }

form> #email{
  left: 0px;
  right: 0px;
  top: 22px;
  bottom: 0px;
  height: 44px;
  
  
  background: #FFFFFF;
  
  border: 1px solid #D2D2D2;
  
  }
  form>#reason{
  left: 0px;
  right: 0px;
  top: 22px;
  bottom: 0px;
  height: 72px;
  
  
  background: #FFFFFF;
  
  border: 1px solid #D2D2D2;
  
  }

.caption {
  position: absolute;
  height: 579px;
  width: 752px;
  left: 50%;
  transform: translateX(-50%);
  color:red;
  font-size: 16px;
  text-align: center;
 top: 750px;
 font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
line-height: 19px;


color: #828282;
}

@media (max-width: 768px) {
  .caption {
    font-size: 14px;
    bottom: 10px;
  }
}

.btn {
  background-color: #176C48;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 24px;
  font-family: 'Tahoma';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

}



